
body {
    margin: 0;
    font-size: 18px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #1570A6;
    width: 300px;
    height: 100%;
    padding-top: 35px;
    color: white;
    text-align: center;
}

nav {
    text-align: left;
}

nav ul {
    padding: 0 25px;
    list-style-type: none;
    margin: 0.5em;
    font-size: 1em;
}

nav a {
    color: white;
}

main {
    margin-left: 300px;
}

article {
    padding: 50px;
    min-height: 250px;
    background-image: url("../img/cat-friend.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 50%;
}

main p:first-child {
    margin-top: 0;
}

h1, h2, h3 {
    color: #1570A6;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 35px;
    line-height: 1.2em;
    margin: 1.6rem 0 0;
}

h4 {
    margin: 10px 20px;
}

p, time, main ul, main ol {
    font-family:  "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

main p {
    margin: 1.6rem 0 0;
    line-height: 1.6em;
}

blockquote {
    border-left: 5px solid #1570A6;
    padding: 1em 1.5em
}

time {
    display: inline-block;
    margin: 0 0 5px;
    font-size: 15px;
    color: #9EABB3;
}

@media all and (max-width:900px) {
    header {
        position: relative;
        width: 100%;
        padding: 20px;
        text-align: center;
        box-sizing:border-box;
    }

    nav ul li {
        display: inline;
        white-space: nowrap;
    }

    main {
        margin-left: 0;
    }
}

#cat-friend {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;

    background-image: url("../img/cat-friend.jpg");
    background-size: 100%;
/*    width: 864px;
    height: 506px; */
}

#cat-toast {
    background-image: url('../img/cat-toast.svg');
    background-size: 100%;
    width: 180px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

#site-name {
    font-size: 32px;
    margin: 0.1em;
    color: white;
}

a #site-name p {
    text-decoration: none;
}

#disqus_thread {
    max-width: 100%;
    background-color: white;
    border-top: 2px solid rgba(0, 39, 59, 0.08);
    padding: 20px;
}

.dsq-brlink {
    margin-left: 260px;
}

html.meow {
    background: url("../img/me.jpg") no-repeat center bottom fixed;
    background-size: cover;
}

#title {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}


/* WARNING: SICK CSS FX BELOW */
@-webkit-keyframes pulse {
    25% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse {
    25% {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}